:root {
    --Primary-Color: #03213D;
    --RE-Primary-Color: #032445;
    --Secondary-Color: #304575;
    --Accent-Color: #247EA8;
    --Sub-Accent-Color: #106A94;
    --Contrast-Color: #B56387;
    --Text-Color: #FDF7E7;
    --Text-Secondary-Color: #FDF7E7;
    --Input-Background: #FDF7E7;
    --Button-Text-Color: #FDF7E7;
    --Level-Text-Color: #FDF7E7;
    --Section-Text-Color: #B56387;
    --Section-Hover-Color: #FDF7E7;
    --Shadow-Color: rgba(48, 69, 117, 0.6);
}