#advertise {
    width: 900px;
    height: 300px;
    margin: auto;
    margin-top: 20px;
    background: white;
}

#popularSections {
    width: 900px;
    margin: auto;
    margin-top: 20px;
    background: var(--Secondary-Color);
    padding-bottom: 10px;
    border-radius: 10px;
}

p.subTitle {
    padding-top: 10px;
    padding-left: 10px;
    font-size: 1.2rem;
}

#popularSections div.allSections {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, auto);
}

div.section {
    display: flex;
    align-items: center;
}

img.sectionImg {
    width: 40px;
    height: 40px;
    margin-inline: 10px;
    margin-block: 5px;
    background: bisque;
}

a.sectionA {
    text-decoration: none;
    color: var(--Section-Text-Color);
}

#allSections {
    width: 900px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

#subTitleBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#searchSections {
    width: 200px;
    height: 26px;
    background: var(--Contrast-Color);
    display: flex;
    align-items: center;
    border-radius: 7px;
}

#searchSections input {
    width: 150px;
    height: 20px;
    border: none;
    margin-left: 1px;
    letter-spacing: 1px;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    color: var(--Contrast-Color);
    font-family: "Tinos", "Noto Serif TC", serif;
    background: var(--Input-Background);
}

#searchSections input:focus {
    outline: none;
}

#searchSections button {
    width: 44px;
    background: none;
    border: none;
    cursor: pointer;
    color: var(--Button-Text-Color);
    font-family: "Noto Serif TC", serif;
}

#allSections div.allSections {
    clear: both;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}