#content {
    margin-top: 10px;
}

#playerCenter {
    display: flex;
    justify-content: space-between;
}

#playerProfile {
    width: 240px;
    display: flex;
    flex-direction: column;
}

#playerDetail {
    background: var(--Secondary-Color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-block: 20px;
}

#playerDetail p {
    margin: 0;
    margin-top: 10px;
}

#playerDetail img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

#playerName {
    font-weight: 600;
    font-size: 0.9rem;
}

#playerName span {
    font-size: 0.75rem;
    font-weight: 300;
    color: var(--Level-Text-Color);
    font-family: "Bubblegum Sans", sans-serif;
    background: var(--Level-Background);
    margin-inline: 5px;
    padding-inline: 5px;
    border-radius: 10px;
}

#playerDays {
    font-size: 0.8rem;
}

#playerDays span {
    font-size: 0.9rem;
    font-family: "Bubblegum Sans", sans-serif;
}

#playerSign {
    font-size: 0.8rem;
}

#playerSign+p {
    margin-top: 5px;
    font-size: 0.8rem;
    font-family: "Tinos", "Noto Serif TC", serif;
}

#playerTool {
    width: 200px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    background: var(--Secondary-Color);
}

#playerTool a {
    width: 200px;
    padding-block: 10px;
    font-size: 0.9rem;
    color: var(--Text-Color);
    text-align: center;
}

#playerTool a:hover {
    color: var(--Section-Text-Color);
}

div.line {
    background: var(--Text-Color);
    opacity: 0.3;
}

#playerContent {
    width: 650px;
    background: var(--Secondary-Color);
    border-radius: 5px;
}

div.innerContent {
    margin-inline: 16px;
}

div.contentTitle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-block: 16px;
}

p.detailTitle {
    font-size: 1rem;
    margin: 0;
}

button.editBtn {
    font-size: 0.75rem;
    margin-left: 10px;
    padding-inline: 16px;
    border-radius: 3px;
    color: var(--Button-Text-Color);
    background: var(--Contrast-Color);
    cursor: pointer;
}

p.shareTitle {
    font-size: 0.8rem;
    margin: 0;
}

#profilePhoto {
    width: 160px;
    height: 160px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

p.contentDetail {
    font-size: 0.9rem;
    margin: 0;
    margin-block: 3px;
}

#shareBtn {
    position: relative;
}

#shareBoard {
    display: none;
    position: absolute;
    margin-left: -150px;
    padding: 10px;
    width: 200px;
    height: 60px;
    border-radius: 7px;
    background: var(--Primary-Color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

#shareLinks {
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
}

a.community {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

img.communityImg {
    width: 24px;
    height: 24px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 5px;
}

a.copyLink {
    height: 24px;
    line-height: 24px;
    padding-inline: 3px;
    color: var(--Button-Text-Color);
    background: var(--Contrast-Color);
    border-radius: 5px;
    font-family: "Bubblegum Sans", sans-serif;
}

td {
    min-width: 160px;
}

p.gameDetail {
    font-size: 0.9rem;
    margin: 0;
}